In [1]:
%load_ext autoreload
%autoreload 2
from storytelling import *

In [7]:
# select en events:
events = pd.read_csv("../dat/tweeterNews/events.csv.gz", header=None,
                     names=["Num","Date","TotalKeyWords","TotalTweets","Keywoards"], index_col="Num")

In [8]:
events.sort_values("TotalTweets", ascending=False).head(10)

,Date,TotalKeyWords,TotalTweets,Keywoards
Num,,,,
4499,2014-05-28,9,510920,angelou;pakistan;life;woman;maya;risk;dies;dea...
4884,2014-06-12,22,452534,turtle;sao;win;national;follow;home;brazil;pol...
232,2013-09-10,32,423756,control;says;apple;december;india;four;gang;fo...
1966,2014-02-02,10,338252,fans;bowl;see;sunday;blog;game;security;xlviii...
1978,2014-02-03,16,313030,broncos;super;title;may;win;million;bowl;blog;...
1258,2013-12-31,25,308703,celebrations;photo;globe;tonight;australia;yea...
1861,2014-01-29,18,301448,boy;grimm;end;unemployment;veto;rep;reporter;y...
1738,2014-01-23,13,281559,prime;ukraine;supreme;resisting;police;justin;...
1689,2014-01-20,2,276219,king;luther
2702,2014-03-08,35,271306,spotted;hairline;photo;slicks;airlines;malaysi...

In [9]:
events.loc[4884, "Keywoards"]

'turtle;sao;win;national;follow;home;brazil;police;goal;cup;paulo;rangers;opener;take;2014;woman;opening;world;tear;continue;croatia;team'

In [10]:
tweets = pd.read_csv("../dat/tweeterNews/tweets.csv.gz", names=["tid", "eid"])

In [11]:
tweets.head(2)

                  tid  eid
0  371043469185540096    1
1  371043472397987841    1

In [12]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
api = tweepy.API(auth)

In [16]:
event_id = 1966
event_tweets = tweets[tweets["eid"]==event_id]
tids = list(event_tweets["tid"].values)
RetriveDataset(tids, api, "{}.csv".format(1966))