In [35]:
%load_ext autoreload
%autoreload 2
from storytelling import *

In [36]:
# select en events:
events = pd.read_csv("../dat/tweeterNews/events.csv.gz", header=None,
                     names=["Num","Date","TotalKeyWords","TotalTweets","Keywoards"], index_col="Num")

In [44]:
events.sort_values("TotalTweets", ascending=False).head(50)

,Date,TotalKeyWords,TotalTweets,Keywoards
Num,,,,
4499,2014-05-28,9,510920,angelou;pakistan;life;woman;maya;risk;dies;dea...
4884,2014-06-12,22,452534,turtle;sao;win;national;follow;home;brazil;pol...
232,2013-09-10,32,423756,control;says;apple;december;india;four;gang;fo...
1966,2014-02-02,10,338252,fans;bowl;see;sunday;blog;game;security;xlviii...
1978,2014-02-03,16,313030,broncos;super;title;may;win;million;bowl;blog;...
1258,2013-12-31,25,308703,celebrations;photo;globe;tonight;australia;yea...
1861,2014-01-29,18,301448,boy;grimm;end;unemployment;veto;rep;reporter;y...
1738,2014-01-23,13,281559,prime;ukraine;supreme;resisting;police;justin;...
1689,2014-01-20,2,276219,king;luther
2702,2014-03-08,35,271306,spotted;hairline;photo;slicks;airlines;malaysi...
1269,2014-01-01,30,267624,pakistan;square;forget;hartlepool;back;year;re...
1529,2014-01-13,21,234350,golden;full;slave;cate;drama;picture;series;gl...
729,2013-12-04,2,213874,walker;paul
4972,2014-06-15,16,212980,used;italy;takes;world;balotelli;cup;group;bal...
829,2013-12-10,22,210686,crowd;africa;afghanistan;memorial;chechnya;ser...
1246,2013-12-30,6,205891,year;eve;times;york;honours;new
3662,2014-04-22,10,203393,manager;united;moyes;giggs;klopp;ryan;david;ch...
4945,2014-06-14,14,194451,zealand;brazil;world;england;third;cup;italy;g...
1975,2014-02-03,7,176692,bags;death;seymour;phillip;hoffman;heroin;philip
123,2013-09-03,23,174462,says;senate;house;mediterranean;hearing;bjp;mi...
3792,2014-04-29,6,169395,sterling;cuban;life;donald;tape;nba
214,2013-09-09,21,167676,chemical;president;kerry;congress;military;int...
62,2013-08-27,29,164199,says;hagel;ready;syrian;intervention;chemical;...
2455,2014-02-24,6,162321,harold;comedy;ramis;dies;oldest;groundhog
5234,2014-06-26,8,155825,fifa;cup;suarez;months;germany;world;ban;luis
4296,2014-05-19,5,155178,billboard;michael;jackson;awards;music
2591,2014-03-03,26,152952,nyong;win;years;cuaron;oscars;north;animated;b...
4929,2014-06-13,7,151448,brazil;protests;cup;study;opening;growth;world
77,2013-08-28,16,149087,intervention;weapons;says;would;decision;malic...
127,2013-09-04,27,146782,force;senate;house;mccain;says;ground;conferen...
338,2013-09-16,4,145004,navy;washington;shooting;yard
49,2013-08-26,2,144747,gaga;lady
217,2013-09-09,4,144234,zimmerman;police;george;wife
3000,2014-03-24,31,144134,washington;life;malaysia;weather;sentences;fai...
2070,2014-02-07,17,142513,ceremony;passenger;olympic;follow;winter;power...
2152,2014-02-11,9,140367,obituary;star;age;california;child;shirley;hol...
3270,2014-04-03,24,139099,shootings;mental;house;official;officials;gunm...
4977,2014-06-16,12,137039,affairs;iran;pursue;sign;talks;gwynn;tony;kerr...
1149,2013-12-24,20,135855,snowden;containing;already;help;sudan;nsa;bor;...
734,2013-12-05,2,134637,nelson;mandela
279,2013-09-13,2,132125,13th;friday
4871,2014-06-11,18,131729,loss;brat;house;hagel;didn;june;primary;leader...
3234,2014-04-02,16,130115,quake;northern;iquique;panama;tsunami;watches;...
618,2013-11-24,35,125138,work;deal;lottery;one;talks;cardiff;reached;is...
5029,2014-06-18,4,124935,follow;chile;champion;spain
3398,2014-04-09,14,122228,stabbings;peaches;school;police;students;assis...
121,2013-09-03,7,120278,billion;buy;deal;business;nokia;services;micro...
451,2013-09-22,21,118975,kenya;end;brutality;centre;westgate;kenyan;res...
185,2013-09-07,6,116732,olympic;games;tokyo;madrid;olympics;2020
2126,2014-02-10,13,116476,prospect;michelle;use;star;sam;gay;photo;could...

In [38]:
events.loc[4884, "Keywoards"]

'turtle;sao;win;national;follow;home;brazil;police;goal;cup;paulo;rangers;opener;take;2014;woman;opening;world;tear;continue;croatia;team'

In [39]:
tweets = pd.read_csv("../dat/tweeterNews/tweets.csv.gz", names=["tid", "eid"])

In [40]:
tweets.head(2)

                  tid  eid
0  371043469185540096    1
1  371043472397987841    1

In [41]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
api = tweepy.API(auth)

In [ ]:
5154

In [45]:
event_id = 4296
event_tweets = tweets[tweets["eid"]==event_id]
tids = list(event_tweets["tid"].values)
RetriveDataset(tids, api, "{}.csv".format(event_id))

In [1]:
# Preprocess Training Data

In [33]:
fin_art = open("/data/jw3514/Storytelling/dat/cnndm/train.txt.src", "rt")
fin_sum = open("/data/jw3514/Storytelling/dat/cnndm/train.txt.tgt.tagged", "rt")
Out_Dir = "/data/jw3514/Storytelling/dat/cnndm/splited_train/"

In [34]:
import random

i = 0
count = 0
fout_art = open("{}train.{}.src".format(Out_Dir, count), "wt")
fout_sum = open("{}train.{}.tgt".format(Out_Dir, count), "wt")
while 1:
    _art = fin_art.readline()
    _sum = fin_sum.readline()
    
    if _art == "":
        fout_art.close()
        fout_sum.close()
        break
        
    if i % 15000 == 0:
        fout_art.close()
        fout_sum.close()
        count += 1
        fout_art = open("{}train.{}.src".format(Out_Dir, count), "wt")
        fout_sum = open("{}train.{}.tgt".format(Out_Dir, count), "wt")
        
    _arts = _art.strip().split(".")
    random.shuffle(_arts)
    _arts[0] = _arts[0].strip()
    _art = ".".join(_arts)
    fout_art.write(_art+".\n")
    fout_sum.write(_sum)
    i += 1

In [9]:
287227 / 10

28722.7